<h2>
  Current Moderators
  <span class="badge"><%= @mods.count %></span>
</h2>

<table class="table table-hover table-striped table-condensed">
  <thead>
    <tr>
      <th>Subbludit</th>
      <th>Mod Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @mods.each do |mod| %>
      <tr>
        <td><%= mod.subbludit.name %></td>
        <td><%= mod.user.name %></td>
          <td><%= link_to "Delete Moderator", moderator_path(mod), method: :delete, class: "btn btn-danger btn-sm"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
